/* AppComponent's private CSS styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > * {
 margin: 0 10px;
}

.header nav {
  margin: 0 10px;
}

.title {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}


h1 {
  margin-bottom: 0;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin: 10px 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}
nav a:active, nav .active {
  background-color: black;
  color: white;
}